*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #0d1117;
  --panel: #0d1117;
  --primariy-text: #c9d1d9;
  --secondary-text: #8b949e;
  --links: #58a6ff;
  --borders: #30363d;
  --main-font: "Roboto Mono", monospace;
}

body {
  background-color: var(--background);
}

/* Header Section */

header {
  width: 100%;
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--panel);
  border-bottom: 1px solid var(--borders);
}

header > h1 {
  font-size: 6rem;
  letter-spacing: 10px;
  font-family: var(--main-font);
  color: var(--primariy-text);
}

/* Search Bar Section */

main > section.search {
  width: 80%;
  height: 59px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(249, 250, 250, 0.644);
  border: 2px solid var(--borders);
}

main > section.search > span {
  font-size: 1.5rem;
  padding: 2px;
  border-right: 2px solid var(--borders);
}

main > section.search > input {
  padding: 10px;
  flex: 1;
  background-color: var(--panel);
  border: none;
  font-size: 1rem;
  color: var(--secondary-text);
}

main > section.search > input:focus {
  outline: none;
}

main > section.search > button {
  padding: 10px 15px;
  border: 2px solid var(--borders);
  cursor: pointer;
  color: var(--secondary-text);
  background-color: var(--background);
  color: var(--secondary-text);
  border-radius: 5px;
  transition: all 0.3s ease;
}

main > section.search > button:hover {
  background-color: var(--primariy-text);
  color: var(--panel);
}

/* Dev card Section */

main > section.div-card {
  width: 80%;
  height: 414px;
  margin: 0 auto;
  color: var(--primariy-text);
  border: 2px solid var(--borders);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(249, 250, 250, 0.644);
  display: flex;
  gap: 20px;
}

main > section.div-card > .img-wrapper {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > section.div-card > .img-wrapper > img {
  width: 300px;
  height: 300px;
  border: 2px solid var(--borders);
  background-color: #d2d2d2;
  object-fit: cover;
  border-radius: 50%;
}

main > section.div-card > .div-card-info {
  flex: 1;
  font-family: var(--main-font);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  margin: 10px 0;
}

main > section.div-card > .div-card-info > div.statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main > section.div-card > .div-card-info > div.statistics > h4 {
  display: flex;
  gap: 20px;
  align-items: center;
}

main > section.div-card > .div-card-info > div.statistics > h4 > span {
  background-color: var(--panel);
  border: 1px solid var(--borders);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main > section.div-card > .div-card-info > .links-wrapper > ul {
  display: grid;
  padding: 20px 0;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

main > section.div-card > .div-card-info > .links-wrapper > ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

main > section.div-card > .div-card-info > .links-wrapper > ul > li > a {
  text-decoration: none;
  color: var(--links);
}

main > section.div-card > .div-card-info > .links-wrapper > ul > li:hover {
  text-decoration: underline;
}
