*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #161b22;
  --panel: #0d1117;
  --primariy-text: #c9d1d9;
  --secondary-text: #8b949e;
  --links: #58a6ff;
  --accent: #238636;
  --borders: #30363d;
  --main-font: "Roboto Mono", monospace;
}

body {
  background-color: var(--background);
}

/* Header Section */

header {
  width: 100%;
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--panel);
  border-bottom: 1px solid var(--borders);
}

header > h1 {
  font-size: 6rem;
  letter-spacing: 10px;
  font-family: var(--main-font);
  color: var(--primariy-text);
}

/* Search Bar Section */

main > section.search {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  padding: 10px;
  background-color: var(--panel);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(1, 4, 9, 0.6);
  border: 2px solid var(--borders);
}

main > section.search > span {
  font-size: 1.5rem;
  padding: 2px;

  border-right: 2px solid var(--borders);
}

main > section.search > input {
  padding: 10px;
  flex: 1;
  background-color: var(--panel);
  border: none;
  font-size: 1rem;
  color: var(--secondary-text);
}

main > section.search > input:focus {
  outline: var(--border);
}

main > section.search > button {
  padding: 10px 15px;
  border: 2px solid var(--borders);
  cursor: pointer;
  color: var(--secondary-text);
  background-color: var(--background);
  color: var(--secondary-text);
  border-radius: 5px;
  transition: all 0.3s ease;
}

main > section.search > button:hover {
  background-color: var(--primariy-text);
  color: var(--panel);
}

/* Dev card Section */
.hidden {
  display: none !important;
}

#error {
  color: var(--primariy-text);
  font-family: var(--main-font);
  font-size: 2rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error > span {
  font-size: 0.7rem;
  font-style: italic;
}

main > section#div-card {
  width: 80%;
  margin: 0 auto;
  color: var(--primariy-text);
  border: 2px solid var(--borders);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--panel);
  box-shadow: 0 0 5px rgba(1, 4, 9, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main > section#div-card > .img-wrapper {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > section#div-card > .img-wrapper > img {
  width: 300px;
  height: 300px;
  border: 2px solid var(--borders);
  background-color: #d2d2d2;
  object-fit: cover;
  border-radius: 50%;
}

main > section#div-card > .div-card-info > .links-wrapper > ul > li > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > section#div-card > .div-card-info {
  flex: 1;
  font-family: var(--main-font);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

hr {
  margin: 10px 0;
}

main > section#div-card > .div-card-info > .name-wrapper > h3 {
  font-size: 2rem;
}

main > section#div-card > .div-card-info > .name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > section#div-card > .div-card-info > .name-wrapper > p.joined {
  font-size: 1rem;
}

.div-card-info > p {
  font-size: 1.2rem;
  font-weight: 300;
}

main > section#div-card > .div-card-info > div.statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main > section#div-card > .div-card-info > div.statistics > h4 {
  display: flex;
  gap: 20px;
  align-items: center;
}

main > section#div-card > .div-card-info > div.statistics > h4 > span {
  background-color: var(--background);
  border: 1px solid var(--borders);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main > section#div-card > .div-card-info > .links-wrapper > h3 {
  margin: 10px 0;
  font-weight: 500;
}

main > section#div-card > .div-card-info > .links-wrapper > ul {
  display: grid;
  padding: 10px 0;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 5px;
}

main > section#div-card > .div-card-info > .links-wrapper > ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

main > section#div-card > .div-card-info > .links-wrapper > ul > li > a {
  text-decoration: none;
  color: var(--links);
}

main > section#div-card > .div-card-info > .links-wrapper > ul > li:hover {
  text-decoration: underline;
  color: var(--links);
}

@media (max-width: 1275px) {
  main > section#div-card > .img-wrapper > img {
    width: 250px;
    height: 250px;
    transition: all 1s ease-in-out;
  }
  main > section#div-card > .div-card-info > .name-wrapper > h3 {
    font-size: 1.5rem;
    transition: all 1s ease-in-out;
  }

  .div-card-info > p {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media (max-width: 1067px) {
  main > section#div-card > .img-wrapper > img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 877px) {
  header > h1 {
    font-size: 5rem;
    transition: all 1s ease-in-out;
  }

  main > section#div-card > .img-wrapper {
    width: 100%;
  }
  main > section#div-card {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  main > section#div-card > .div-card-info > .name-wrapper {
    flex-direction: column;
  }
  header > h1 {
    font-size: 4rem;
    transition: all 1s ease-in-out;
  }

  main > section#div-card > .div-card-info {
    width: 100%;
  }

  main > section#div-card > .div-card-info > .links-wrapper > ul {
    grid-template-columns: repeat(1, 1fr);
    place-items: start;
    gap: 10px;
  }

  main > section#div-card > .div-card-info > div.statistics {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  main > section#div-card > .div-card-info > div.statistics > h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 465px) {
  header > h1 {
    font-size: 3rem;
    transition: all 1s ease-in-out;
  }

  main > section.search {
    flex-direction: column;
  }

  main > section.search > span {
    display: none;
  }

  main > section.search > input {
    width: 100%;
  }

  main > section.search > button {
    width: 100%;
  }
}

@media (max-width: 415px) {
  main > section#div-card > .div-card-info > .name-wrapper > h3 {
    font-size: 1.3rem;
  }

  .div-card-info > p {
    font-size: 0.8rem;
    font-weight: 300;
  }

  main > section#div-card > .div-card-info > .name-wrapper > p.joined {
    font-size: 0.8rem;
  }

  main > section#div-card > .div-card-info > .links-wrapper > h3 {
    font-size: 1rem;
  }

  main
    > section#div-card
    > .div-card-info
    > .links-wrapper
    > ul
    > li
    > span
    > img {
    width: 20px;
    height: 20px;
  }
  main > section#div-card > .div-card-info > .links-wrapper > ul > li > a {
    font-size: 0.8rem;
  }

  main > section#div-card > .div-card-info > div.statistics > h4 {
    font-size: 0.8rem;
    width: 100%;
  }
}
